<div ng-controller="listaClientesController">


    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <a class="btn btn-outline-secondary" href="#!/cadastro">Novo Cliente</a>
                    </div>
                    <input class="form-control" placeholder="Pesquisar" ng-model="filtro">
                </div>
            </form>
        </div>
    </div>
        <br />
        <br />
        <p ng-show="mensagem.length" class="alert alert-danger">{{mensagem}}</p>
        <table class="table table-hover">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Idade</th>
                <th scope="col"></th>
            </tr>
            <tr ng-repeat="cliente in Clientes.data | filter: filtro" class="tabela-animada">
                <td>{{cliente.nome}}</td>
                <td id="cpf" >{{cliente.cpf}}</td>
                <td>{{cliente.idade}}</td>
                <td>
                    <a class="btn btn-primary" href="#!/detalhes/{{cliente.id}}">Detalhes</a>
                    <button class="btn btn-danger" ng-click="deleta(cliente)">Deletar</button>
                </td>
            </tr>
        </table>

    </div>
