@{
}
<html ng-app="fragonApp">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Views/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/Views/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Views/css/bootstrap-grid.css" />
    <script src="~/Views/js/jquery-3.3.1.js"></script>
    <script src="~/Views/js/angular.js"></script>
    <script src="~/Views/js/angular-animate.js"></script>
    <script src="~/Views/js/angular-route.js"></script>
    <script src="~/Views/js/angular-mocks.js"></script>
    <script src="~/Views/js/mask.js"></script>
    <script src="~/Views/js/angular/models/clienteModel.js"></script>
    <script src="~/Views/js/angular/Service/clienteService.js"></script>
    <script src="~/Views/js/angular/controllers/cadastroContoller.js"></script>
    <script src="~/Views/js/angular/controllers/listaClienteController.js"></script>
    <script src="~/Views/js/angular/controllers/detalhesClienteController.js"></script>
    <script src="~/Views/js/angular/controllers/editarContoller.js"></script>
    <title>Fagron App</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Fagron Teste</a>
    </nav>
    <br />
    <br />
    <br />

    <div class="container">
        <ng-view></ng-view>
    </div>
</body>
</html>
